body{
width: 100%;
margin-top: 2.5%;
background-color: purple;
}

#left-column, #right-column{
background-image: url('http://127.0.0.1/templates/gary/img/GayFlag.png');
background-repeat: repeat;
height: 100%;
width: 8%;
float: left;
}

#content{
background-color: purple;
width: 84%;
height: 100%;
float: left;
}

#img{
display: block;
margin: auto;
height: auto;
}
p{
font-size: 2em;
line-height: 1em;
color: black;
margin-top: 2%;
}
h1{
}

#purple{
background-color: black;
}
#clear{
clear: both;
}
#btn-center{
display: block;
margin: auto;
}

@media screen
and (min-width: 300px) 
and (max-width: 700px)
{
body{
margin-top: 30%;
}
p{
font-size: 1.5em;
}
#img{
display: block;
width: auto;
max-height: 65%;
}
h1{
font-size: 2em;
line-height: 1em;
}
#right-column, #left-column, #content{
height: 90%;
}
}
